html, body, h1, h2, h3, h4, h5, h6, a, link, blockquote, strong, sub, sup, a, abbr, iframe,

header, nav, div, section, article, aside, footer, canvas, form, fieldset, label, ol, dt, dl {
    overflow: visible;
}

a {
    text-decoration: none;
}


ol, ul, dl {
    list-style: none;
}